{% extends 'nav_externe/externeNav.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    {% for msg in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            {{ msg }}
        </div>
    {% endfor %}

<div class="container formulaire">
    <div class="row justify-content-md-center">
        <div class="col-sm-4 ">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <h1 class="font-weight-normal text_color color_white">Please sign in</h1>
                
                <div class="input-group flex-nowrap mb-2">
                    <span class="input-group-text" id="addon-wrapping">@</span>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" aria-label="Mail" aria-describedby="addon-wrapping" autocomplete="email" placeholder="Mail" required autofocus>
                </div>
                
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping">MDP</span>
                    <input type="password" name="password" id="inputPassword" class="form-control" aria-label="Mail" aria-describedby="addon-wrapping" autocomplete="current-password" placeholder="Password" required autofocus>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #}

                <button class="btn btn-lg btn-secondary mt-2" type="submit"> Sign in </button>
            </form>
        </div>


        <div class="col-sm-6">
            {{ include('registration/form.html.twig') }} 
        </div>
    </div>
</div>
{% endblock %}
