{% extends 'base.html.twig' %}

{% block title %}Home index{% endblock %}

{% block body %}
    <h1>Home index</h1>

    <table class="table">
        {# <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead> #}
        <tbody>

            <script>update_number_div(8))</script>
            <div style="box-sizing: border-box; display:block; position: relative; transform: translateY(35%);">

                <button class="btn btn-primary left arrow arrow-left" id="left" >Left</button>
                <button class="btn btn-primary right arrow arrow-right" id="right">Right</button>

                <div class="tourniquer">

                {% set counta = 0 %}
                {% for home in homes %}
                    {% set counta = counta + 1 %}

                    {% if counta == 1 %}
                        <div id= {{ 'slide' ~ counta }} class="left-slide">
                            <div class="div_post div_post_mini" name="post" id="post">
                    
                            </div>
                        </div>

                    {% elseif counta == 2 %}
                        <div id= {{ 'slide' ~ counta }} class="mid-slide">
                                <div class="div_post div_post_mini" name="post" id="post">

                                </div>
                        </div>

                    {% elseif counta == 3 %}
                        <div id= {{ 'slide' ~ counta }} class="right-slide">
                            <div class="div_post div_post_mini" name="post" id="post">

                            </div>
                        </div>

                    {% else %}
                        <div id = {{ 'slide' ~ counta }} class="vide">
                            <div class="div_post div_post_mini" name="post" id="post">

                            </div>
                        </div>
                    {% endif %}

                    {# <tr>
                        <td>{{ home.id }}</td>
                        <td>{{ home.name }}</td>
                        <td>
                            <a href="{{ path('home_show', {'id': home.id}) }}">show</a>
                            <a href="{{ path('home_edit', {'id': home.id}) }}">edit</a>
                        </td>
                    </tr> #}
                {% else %}
                    <tr>
                        <td colspan="3">no records found</td>
                    </tr>
                {% endfor %}
                </div>
            </div>
        </tbody>
    </table>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <a href="{{ path('home_new') }}">Create new</a>
    <br>
    <a href="{{ path('home_index2') }}">Second Index</a>


{% endblock %}



