{% block body %}

    <div class="p-5" style="background-color:#fff; border-radius: 10px;">
        <h1 class="color_black">Register</h1>

        {{ form_start(registrationForm, {'action': path('app_register'), 'method': 'POST'}) }}

            {{ form_row(registrationForm.name) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword) }}
            {{ form_row(registrationForm.agreeTerms) }}

            <button class="btn btn-lg btn-secondary mt-2" type="submit"> Register </button>
        {{ form_end(registrationForm) }}
    </div>
    
{% endblock %}