{% extends 'public/layout.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}

{% for msg in app.session.flashBag.get('success') %}
    <div class="alert alert-success">
        {{ msg }}
    </div>
{% endfor %}


<div class="container position-absolute top-50 start-50 translate-middle">
  <div class="row">
    <div class="col-sm">
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Email</th>
                    <th>Roles</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                    <td>
                        <a href="{{ path('user_show', {'id': user.id}) }}">show</a>
                        {% if ('ROLE_SUPER_ADMIN' in app.user.getRoles() and 'ROLE_SUPER_ADMIN' not in user.getRoles()) or ('ROLE_ADMIN' in app.user.getRoles() and 'ROLE_ADMIN' not in user.getRoles and 'ROLE_SUPER_ADMIN' not in user.getRoles()) %}
                            <a href="{{ path('user_role', {'id': user.id}) }}">edit</a>
                        {% endif %}

                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="col-sm">
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Signalement</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr>
                    <td>{{ article[0].name }}</td>
                    <td>{{ article[0].description }}</td> 
                    <td>{{ article[1] }} </td>
                    <td>
                        <a href="{{ path('article_show', {'id': article[0].id}) }}">Verifier article en details</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
  </div>
</div>


   


    
{% endblock %}
