
{% extends 'base.html.twig' %}


{% block body %}
        
{% endblock %}


{% block nav %}


        {% if app.user.getThemeSombre() == true %}
            {% set check = "checked" %}
            {% set ul = "ul_sombre" %}
            {% set li = "li_sombre"%}
            {% set color = "#ffffff8c" %}
        {% else %}
            {% set check = "" %}
            {% set ul = "ul_claire" %}
            {% set li = "li_claire"%}
        {% endif %}


        <ul class="nav_ulu {{ul}} ul_nav">
            <li class="nav_lil d-inline {{li}}">
                <a href="{{ path('article_index') }}">
                    <i class="fas fa-home fa-2x"></i><br>Agora
                </a>
            </li>
            <li class="nav_lil d-inline {{li}}">
                <a href="{{ path('article_user') }}">
                    <i class="fas fa-newspaper fa-2x"></i><br>Article
                </a>
            </li>
            <li class="nav_lil d-inline {{li}}">
                <a href="{{ path('user_signet') }}">
                    <i class="fas fa-bookmark fa-2x"></i><br>Signet
                </a>
            </li>

            <li class="nav_lil d-inline {{li}}">
                <a href="{{ path('support_new') }}">
                    <i class="fas fa-question-circle fa-2x"></i><br>Support
                </a>
            </li>
            <li class="nav_lil d-inline {{li}}">
                <a href="{{ path('user_profil') }}">
                    <i class="fas fa-user fa-2x"></i><br>Profil
                </a>
            </li>
            <li class="nav_lil d-inline {{li}} ">
                <div class="form-check form-switch " style="margin-top: 30px; margin-left:10px; font-size: 20px">
                    <input class="form-check-input " type="checkbox" id="theme" {{check}}>
                </div>
            </li>

            <li class="nav_lil d-inline {{li}}">
                <div class="ui-widget mt-4">
                    <label for="tags">Tags: </label>
                    <input id="tags">
                </div>
            </li>
            <li class="nav_lil d-inline {{li}}" style="float:right">
                {% if is_granted('ROLE_ADMIN') %} 
                    <a href="{{ path('admin_gestion_user_article') }}">
                        <i class="fas fa-tools fa-2x"></i><br>Admin
                    </a>
                {% endif %}
            </li>

            <li  class=" nav_lil d-inline {{li}}" style="float:right">
                <a href="{{ path('app_logout') }}">
                    <i class="fas fa-sign-out-alt fa-2x"></i><br>logout
                </a>
            </li>

           
        </ul>

            
            


            

{% endblock %}

{% block footer %}

    {% if app.user.getThemeSombre() == true %}
        {% set footerBackgroundColor = "background-color: #212529" %}
        {% set footerColor = "color: white" %}
    {% else %}
        {% set footerBackgroundColor = "background-color: white" %}
        {% set footerColor = "color: black" %}
    {% endif %}


    <div class="text-center p-3 footer" style="{{ footerBackgroundColor}} ; {{ footerColor }}">      
        © 2021 Copyright:
        <a class="text-white">Agora.com</a>
    </div>
{% endblock %}
