
{% extends 'base.html.twig' %}


{% block body %}
        
{% endblock %}


{% block nav %}

        
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand agora-nav" href="{{ path('article_index') }}">Agora</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('article_user') }}">
                                <i class="fas fa-newspaper fa-2x"></i> Article
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('user_signet') }}">
                                <i class="fas fa-bookmark fa-2x"></i> Signet
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('user_edit') }}">
                                <i class="fas fa-user fa-2x"></i> Profil
                            </a>
                        </li>

                        <li class="nav-item">
                            {% if is_granted('ROLE_ADMIN') %} 
                                <a class="nav-link" href="{{ path('admin_gestion_user_article') }}">
                                    <i class="fas fa-tools fa-2x"></i>Admin
                                </a>
                            {% endif %}
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_logout') }}">
                                <i class="fas fa-sign-out-alt fa-2x"></i>Deconnexion
                            </a>
                        </li>

                    </ul>
                    <form class="d-flex">

                        
                       
                        
                        <i class="bi bi-box-arrow-right"></i>
                    </form>
                    </div>
                </div>
            </nav>
            
            


            

{% endblock %}
