{% extends 'public/layout.html.twig' %}

{% block title %}Article index{% endblock %}

{% block stylesheets %} 
    {{ encore_entry_link_tags('rotation') }}
{% endblock %}

{% block javascripts %} 
    {{ encore_entry_script_tags('rotation') }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% endblock %}


{% block body %}

   {% for msg in app.session.flashBag.get('error_bad_redirection_user') %}
        <div class="alert alert-success">
            {{ msg }}
        </div>
    {% endfor %}

    {% for msg in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            {{ msg }}
        </div>
    {% endfor %}

    {# passer des infos pour le systeme de rotation #}

    <div class="js-user-rating" data-is-authenticated="{{ articles|length - 1}}">
        <!-- ... -->
    </div>
    


        <tbody>

            


            <div class="d-flex justify-content-center">

                {% if articles|length > 3 %}
                    <div class="rotation_left_fast"></div>
                    <div class="rotation_left"></div>
                    <div class="rotation_center"></div>
                    <div class="rotation_right"></div>
                    <div class="rotation_right_fast"></div>
                {% endif %}


               

                <div class="tourniquer position-fixed">

                {% for article in articles %}
                    {% if articles|length == 1 %}
                        {% if loop.first %}
                            {% set slideclass = "mid-slide" %}
                        {% else %}
                            {% set slideclass = "vide" %}
                        {% endif %}

                    {% elseif articles|length == 2 %}
                       {% if loop.first %}
                            {% set slideclass = "left-slide" %}
                        {% elseif loop.index == 2 %}
                            {% set slideclass = "right-slide" %}
                        {% else %}
                            {% set slideclass = "vide" %}
                        {% endif %}

                    {% else %}
                        {% if loop.first %}
                            {% set slideclass = "left-slide" %}
                        {% elseif loop.index == 2 %}
                            {% set slideclass = "mid-slide" %}
                        {% elseif loop.index == 3 %}
                            {% set slideclass = "right-slide" %}
                        {% else %}
                            {% set slideclass = "vide" %}
                        {% endif %}
                    {% endif %}

                    
                    <div id= {{ 'slide' ~ loop.index }} class="{{ slideclass }} ">
                        <div class="div_post p-3 text-center" >
                            <button class="btn btn-secondary position-absolute top-0 end-0 btn_close"><i class="far fa-times-circle"></i></button>
                            <h1> {{ article.name }} </h1>
                            
                            <div>
                                {# <p class="mt-5"> {{ article.description }} </p> #}
                                <p  class="mt-5" style="font-size: 20px;"> {{ article.description|length > 150 ? article.description|slice(0, 700) ~ '...' : article.description }} </p>
                            </div>
                            

                            {% if article.picture %}
                                <img src="{{ asset('uploads/brochures/' ~ article.picture) }}"/>
                            {% endif %}
                            
                            {% set user  = app.user.id %}
 


                            {% for infos in article.getUserArticleInformations()|filter(infos => infos.user == app.user)  %}
                                {% if infos.getUser() == app.user%}
                                    {% if infos.user.id == user and infos.liker == true %}
                                        <button class="btn btn-secondary like-article data-article-like mt-5" style="background-color: #383838" id="{{article.id}}" data-articleid="{{article.id}}">enregistrer</button>
                                    {% else %}
                                        <button class="btn btn-secondary like-article data-article-like mt-5" style="background-color: #8e8e8e" id="{{article.id}}" data-articleid="{{article.id}}">enregistrer</button>
                                    {% endif %}

                                    {% if infos.user.id == user and infos.report == true %}
                                        <button class="btn btn-secondary like-article data-article-report mt-5" style="background-color: #383838" id="{{article.id}}" data-articleid="{{article.id}}" disabled>signaler</button>
                                    {% else %}
                                        <button class="btn btn-secondary like-article data-article-report mt-5" style="background-color: #8e8e8e" id="{{article.id}}" data-articleid="{{article.id}}">signaler</button>
                                    {% endif %}
                                
                                {% endif %}

                            {% else %}
                            <center>  
                                <button class="btn btn-secondary like-article data-article-like" style="background-color: #8e8e8e" id="{{article.id}}" data-articleid="{{article.id}}">enregistrer</button>
                                <button class="btn btn-secondary like-article data-article-report" style="background-color: #8e8e8e" id="{{article.id}}" data-articleid="{{article.id}}">signaler</button> 
                            </center>
                            {% endfor %}

                            <p class="text-end fixed-bottom p-2"> {{ article.user.name }} </p>
                        </div>
                    </div>
                {% else %}
                    <tr>
                        <td colspan="3">no records found</td>
                    </tr>
                {% endfor %}
                </div>
            </div>
        </tbody>
    

    {# <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <a href="{{ path('home_new') }}">Create new</a>
    <br>
    <a href="{{ path('home_index2') }}">Second Index</a> #}


{% endblock %}



