{% extends 'public/layout.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}

    <table class="table">

        <tbody>


            <div style="box-sizing: border-box; display:block; position: relative; transform: translateY(35%);">

                <button class="btn btn-primary left arrow arrow-left" id="left" >Left</button>
                <button class="btn btn-primary right arrow arrow-right" id="right">Right</button>

                <div class="tourniquer">

                {% for article in articles %}

                    {% if loop.first %}
                        {% set slideclass = "left-slide" %}
                    {% elseif loop.index == 2 %}
                        {% set slideclass = "mid-slide" %}
                    {% elseif loop.index == 3 %}
                        {% set slideclass = "right-slide" %}
                    {% else %}
                        {% set slideclass = "vide" %}
                    {% endif %}

                        <div id= {{ 'slide' ~ loop.index }} class="{{ slideclass }}">
                            <div class="div_post div_post_mini data-article" name="post" id="post" data-articleid="{{article.id}}">
                                <h1> {{ article.name }} </h1>
                                <p> {{ article.description }} </p>
                                <p> {{ article.user.name }} </p>
                                <button class="btn btn-primary like-article">enregistrer</button>
                    
                            </div>
                        </div>

                      

                {% else %}
                    <tr>
                        <td colspan="3">no records found</td>
                    </tr>
                {% endfor %}
                </div>
            </div>
        </tbody>
    </table>

    {# <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <a href="{{ path('home_new') }}">Create new</a>
    <br>
    <a href="{{ path('home_index2') }}">Second Index</a> #}


{% endblock %}



